<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>邮件详情</title>

	<div th:replace="common/common :: commonHeader"></div>
	
	
</head>
<body class="page-body">

	<div class="page-container">

		<div th:replace="common/common :: sidebar-menu"></div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<div th:replace="common/common :: user-info-navbar"></div>

			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">邮件详情</h1>
				</div>
			</div>
			<section class="mailbox-env">
				
				<div class="row">
					
					<!-- Email Single -->
					<div class="col-sm-9 mailbox-left">
						
						<div class="mail-single">
							
							<!-- Email Title and Button Options -->
							<div class="mail-single-header">
								<h2 th:utext="${mailDetail.title}">
								</h2>
							</div>

							<!-- Email Body -->
							<div class="mail-single-body" th:utext="${mailDetail.content}">
							</div>
						</div>

					</div>

				</div>
				
			</section>

		</div>

	</div>

	<!-- Bottom Scripts -->
	<div th:replace="common/common :: commonScript"></div>

</body>
</html>