<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>Xenon - Mailbox</title>

	<div th:replace="common/common :: commonHeader"></div>
	
	
</head>
<body class="page-body">

	<div th:replace="common/common :: settings-pane"></div>
	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div th:replace="common/common :: sidebar-menu"></div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<div th:replace="common/common ::user-info-navbar"></div>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">检测记录</h1>
					<p class="description">邮件检测历史记录</p>
				</div>
				
<!--					<div class="breadcrumb-env">-->
<!--					-->
<!--								<ol class="breadcrumb bc-1">-->
<!--									<li>-->
<!--							<a href="../templates/dashboard-1.html"><i class="fa-home"></i>Home</a>-->
<!--						</li>-->
<!--								<li>-->
<!--						-->
<!--										<a href="mailbox-main.html">Mailbox</a>-->
<!--								</li>-->
<!--							<li class="active">-->
<!--						-->
<!--										<strong>Inbox</strong>-->
<!--								</li>-->
<!--								</ol>-->
<!--								-->
<!--				</div>-->
					
			</div>
			
			<section class="mailbox-env">
				<div class="panel panel-default">
<!--					<div class="panel-heading">-->
<!--						<h3 class="panel-title">Removing search and results count filter</h3>-->

<!--						<div class="panel-options">-->
<!--							<a href="#" data-toggle="panel">-->
<!--								<span class="collapse-icon">&ndash;</span>-->
<!--								<span class="expand-icon">+</span>-->
<!--							</a>-->
<!--							<a href="#" data-toggle="remove">-->
<!--								&times;-->
<!--							</a>-->
<!--						</div>-->
<!--					</div>-->
					<div class="panel-body">

						<script type="text/javascript">
							jQuery(document).ready(function($)
							{
								$("#example-2").dataTable({
									dom: "t" + "<'row'<'col-xs-6'i><'col-xs-6'p>>",
									aoColumns: [
										{bSortable: false},
										null,
										null,
										null,
										null
									],
								});

								// Replace checkboxes when they appear
								var $state = $("#example-2 thead input[type='checkbox']");

								$("#example-2").on('draw.dt', function()
								{
									cbr_replace();

									$state.trigger('change');
								});

								// Script to select all checkboxes
								$state.on('change', function(ev)
								{
									var $chcks = $("#example-2 tbody input[type='checkbox']");

									if($state.is(':checked'))
									{
										$chcks.prop('checked', true).trigger('change');
									}
									else
									{
										$chcks.prop('checked', false).trigger('change');
									}
								});
							});
						</script>

						<table class="table table-bordered table-striped" id="example-2">
							<thead>
							<tr>
								<th class="no-sorting">
<!--									<input type="checkbox" class="cbr">-->
								</th>
<!--								<th>编号</th>-->
								<th>标题</th>
								<th>类型</th>
								<th>检查时间</th>
								<th>操作</th>
							</tr>
							</thead>
							<tbody class="middle-align">

							<tr th:each="checkRecord:${checkRecords}">
								<td>
									<input type="checkbox" class="cbr">
								</td>
								<td ><a th:utext="${checkRecord.title}" th:href="@{'/toMailDetail?id='+${checkRecord.id}}" style="color: #979898"></a></td>
								<td th:text="${checkRecord.type}"></td>
								<td th:with="time=${checkRecord.checkTime}" th:text="${#dates.format(time,'yyyy-MMM-dd HH:mm')}"></td>
<!--								,'yyyy-MMM-dd HH:mm'-->
								<td>
									<a href="javascript:;" th:onclick="'javascript:showAjaxModal(\''+${checkRecord.id}+'\')'" class="btn btn-secondary btn-sm btn-icon icon-left">
										修改
									</a>
									<a th:href="@{'/deleteRecord?id='+${checkRecord.id}}"  class="btn btn-danger btn-sm btn-icon icon-left">
										删除
									</a>
								</td>
							</tr>
							</tbody>
						</table>

<!--						发请求，进行分页查询-->
<!--						分页按钮-->
						<div class="panel-body">
							<ul class="pagination" th:with="liSize=${pages}">
								<li><a href="#"><i class="fa-angle-left"></i></a></li>
								<li th:each="index:${#numbers.sequence(1,liSize)}"><a th:href="@{'/mailbox-main?currentPage='+${index}+'&limit=5'}" th:text="${index}"></a></li>
								<li><a href="#"><i class="fa-angle-right"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</section>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<div th:replace="common/common :: main-footer"></div>
		</div>
		
			
		<!-- start: Chat Section -->
		<div th:replace="common/common :: chat"></div>
		<!-- end: Chat Section -->
		
		
	</div>

	<!-- Modal 7 (Ajax Modal)-->
	<div class="modal fade" id="modal-7">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">修改邮件类别</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">

							<script type="text/javascript">
								jQuery(document).ready(function($)
								{
									$("#sboxit-1").selectBoxIt().on('open', function()
									{
										// Adding Custom Scrollbar
										$(this).data('selectBoxSelectBoxIt').list.perfectScrollbar();
									});
								});
							</script>
							<select class="form-control" id="sboxit-1">
								<option value="正常邮件">正常邮件</option>
								<option value="垃圾邮件">垃圾邮件</option>
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-info" id="saveChange" th:onclick="saveChange()">保存</button>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function showAjaxModal(mailId)
		{
			jQuery('#modal-7').modal('show', {backdrop: 'static'});
			console.log(mailId);
			sessionStorage.setItem("mailId", mailId);
		}
	</script>

<!--	修改检测结果-->
	<script type="text/javascript">
		function saveChange(){
			//获取到下拉框的值
			var type =  $("#sboxit-1").val();
			var mailId = sessionStorage.getItem("mailId");
			// ajax发送请求到后台更新记录
			//要记录的ID，还要修改后的类型是什么
			$.ajax({
				url:"/updateCheckRecord",
				type:"GET",
				data:{"type":type, "mailId":mailId},
				success:function (){
					//修改完后刷新页面
					location.reload();
				}
			})
		}
	</script>
	
	
	



	<!-- Bottom Scripts -->
	<!-- JavaScripts initializations and stuff -->
<div th:replace="common/common :: commonScript"></div>

</body>
</html>