<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>Xenon - Compose Message</title>

	<div th:replace="common/common :: commonHeader"></div>

</head>
<body class="page-body">

	<div th:replace="common/common :: settings-pane"></div>
	
	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
			
		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div th:replace="common/common :: sidebar-menu"></div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<div th:replace="common/common :: user-info-navbar"></div>
			<div class="page-title">
				
				<div class="title-env">
					<h1 class="title">邮件检测</h1>
					<p class="description">检测邮件是否为垃圾邮件</p>
				</div>
			</div>
			<section class="mailbox-env">

				<div class="row">

					<!-- Compose Email Form -->
					<div class="col-sm-9 mailbox-center">

						<div class="mail-compose">

							<form method="post" role="form" th:action="@{/docheck}">

								<!-- Header Title and Button Options -->
								<div class="mail-header">
									<div class="row">
										<div class="col-sm-6">
											<h3>
												<i class="linecons-pencil"></i>
												邮件检测
											</h3>
										</div>
									</div>
								</div>

								<div class="compose-message-editor">
									<textarea class="form-control wysihtml5" data-html="false" data-color="false" data-stylesheet-url="/assets/css/wysihtml5-color.css" name="mailContent" id="mailContent"></textarea>
								</div>

<!--								原来这里是检测按钮，放到外面去-->

							</form>
							<div class="row">
								<div class="col-sm-3">
									<button type="button" id="submitButton" class="btn btn-secondary btn-block btn-icon btn-icon-standalone">
									<i class="linecons-mail"></i>
									<span>检测</span>
									</button>

								</div>
								<div class="col-sm-3">
									<div style="margin-left: 60px;color: red" id="result"></div>
								</div>
								<script type="text/javascript">
									$(function (){
										$("#submitButton").click(function (){
											$.ajax({
												type:"POST",
												url:"/docheck",
												data:{"mailContent":$("#mailContent").val()},
												success:function (data){
													var html = "";
													if (data == '0'){
														html += "正常邮件";
													}else if (data == '1'){
														html += "垃圾邮件";
													}else {
														html += data;
													}
													$("#result").html(html);
												}
											});
										})
									})
								</script>
							</div>

						</div>


					</div>


				</div>

			</section>
			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<div th:replace="common/common :: main-footer"></div>
		</div>
		
			
		<!-- start: Chat Section -->
		<div th:replace="common/common :: chat"></div>
		<!-- end: Chat Section -->
		
		
	</div>

	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="/assets/js/wysihtml5/src/bootstrap-wysihtml5.css">

	<!-- Bottom Scripts -->
	<div th:replace="common/common :: commonScript"></div>

	<!-- Imported scripts on this page -->
	<script src="/assets/js/wysihtml5/src/bootstrap-wysihtml5.js"></script>


</body>
</html>