<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>-->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.0/echarts.js"></script>
</head>
<body th:fragment="echart">
<!--			柱状图-->
<div id="main" style="width: 600px;height:600px;"></div>
<script type="text/javascript">
    $(function (){
        $.ajax({
            url:"/evaluation",
            type:"GET",
            success:function (data){
                var dataArr = new Array();
                dataArr.push(['id', 'accuracy', 'precision', 'recall', 'F1-Score']);
                for (let dataKey in data) {
                    // console.log(data[dataKey].id)
                    var tmp = [data[dataKey].id,data[dataKey].accuracy,data[dataKey].pre,data[dataKey].recall,data[dataKey].f1];
                    dataArr.push(tmp);
                }
                console.log(dataArr)
                var myChart = echarts.init(document.getElementById('main'));
                var option = {
                    legend: {},
                    tooltip: {

                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    dataset: {
                        source: dataArr
                    },
                    xAxis: [{
                        type: 'category',
                        axisLabel:{
                            interval:0
                        }
                    }],

                    yAxis: {},
                    // Declare several bar series, each will be mapped
                    // to a column of dataset.source by default.
                    series: [
                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: 'black',
                                            fontSize: 16
                                        }
                                    }
                                }
                            }
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: 'black',
                                            fontSize: 16
                                        }
                                    }
                                }
                            }
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    label: {
                                        show: true, //开启显示
                                        position: 'top', //在上方显示
                                        textStyle: { //数值样式
                                            color: 'black',
                                            fontSize: 16
                                        }
                                    }
                                }
                            }
                        }
                    ]
                };
                option && myChart.setOption(option);

            }
        })
    })
</script>

</body>
</html>