<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>-->
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.0/echarts.js"></script>
    <div th:replace="common/common :: commonHeader"></div>
</head>
<body th:fragment="echart">


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">特征数量选择折线图</h3>

                <div class="panel-options">
                    <a href="#">
                        <i class="linecons-cog"></i>
                    </a>

                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body panel-border">
                <div class="row">
                    <div class="col-md-12">
                        <!--特征数量参数选择则线图-->
                        <div id="featureNumSelect" class="col-md-12" style="height:600px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(function (){
        $.ajax({
            url:"/evaluationfeature",
            type:"GET",
            success:function (data){
                var dataArr = new Array();
                dataArr.push(['特征数量', '准确率', '查准率', '召回率', 'F1-Score']);
                for (let dataKey in data) {
                    var tmp = [data[dataKey].id,data[dataKey].accuracy,data[dataKey].pre,data[dataKey].recall,data[dataKey].f1];
                    dataArr.push(tmp);
                }
                console.log(dataArr)
                var myChart = echarts.init(document.getElementById('featureNumSelect'));
                var option = {
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['准确率', '查准率', '召回率', 'F1-Score']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    dataset: {
                        source: dataArr
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                    },
                    yAxis: {
                        type: 'value',
                        min: 60
                    },
                    series: [
                        {
                            type: 'line',
                        },
                        {
                            type: 'line',
                        },
                        {
                            type: 'line',
                        },
                        {
                            type: 'line',
                        },
                    ]
                };

                option && myChart.setOption(option);

            }
        })
    })
</script>


<!-- Bottom Scripts -->
<div th:replace="common/common :: commonScript"></div>


<!-- Imported scripts on this page -->
<script th:src="@{/assets/js/xenon-widgets.js}"></script>
<script th:src="@{/assets/js/devexpress-web-14.1/js/globalize.min.js}"></script>
<script th:src="@{/assets/js/devexpress-web-14.1/js/dx.chartjs.js}"></script>
<script th:src="@{/assets/js/toastr/toastr.min.js}"></script>
</body>
</html>