<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	
	<title>Xenon - Dashboard</title>

	<div th:replace="common/common :: commonHeader"></div>
	<script src="https://cdn.bootcdn.net/ajax/libs/echarts/5.1.0/echarts.js"></script>

	
</head>
<body class="page-body">


	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

		<!-- Add "fixed" class to make the sidebar fixed always to the browser viewport. -->
		<!-- Adding class "toggle-others" will keep only one menu item open at a time. -->
		<!-- Adding class "collapsed" collapse sidebar root elements and show only icons. -->
		<div th:replace="common/common :: sidebar-menu"></div>

		<div class="main-content">
			<div th:replace="common/common :: user-info-navbar"></div>

<!--			不同算法的评价指标表-->
			<div class="row">
				<iframe id="evaluationTable" th:src="@{/tableDiffAlgorithm}" frameborder="0" class="col-md-12" onload="evaluationTableLoad()"></iframe>
			</div>
			<script type="text/javascript">
				function evaluationTableLoad()
				{
					document.getElementById("evaluationTable").height=0;
					document.getElementById("evaluationTable").height=document.getElementById("evaluationTable").contentWindow.document.body.scrollHeight;
				}
			</script>
<!--			不同算法的评价柱状图-->
			<div class="row">
				<iframe id="evaluationBar" th:src="@{/barDiffAlgorithm}" class="col-md-12" style="height: 700px" frameborder="0" onload="evaluationBarLoad()"></iframe>
			</div>
			<script type="text/javascript">
				function evaluationBarLoad()
				{
					document.getElementById("evaluationBar").height=0;
					document.getElementById("evaluationBar").height=document.getElementById("evaluationBar").contentWindow.document.body.scrollHeight;
				}
			</script>
<!--			特征选择折线图-->
			<div class="row">
				<iframe id="featureLiner" th:src="@{/LineChartFeature}" class="col-md-12" style="height: 700px" frameborder="0" onload="featureLinerLoad()"></iframe>
			</div>
			<script type="text/javascript">
				function featureLinerLoad()
				{
					document.getElementById("featureLiner").height=0;
					document.getElementById("featureLiner").height=document.getElementById("featureLiner").contentWindow.document.body.scrollHeight;
				}
			</script>


			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<div th:replace="common/common :: main-footer"></div>
		</div>

	</div>


	<div class="page-loading-overlay">
		<div class="loader-2"></div>
	</div>
	

	<!-- Bottom Scripts -->
	<div th:replace="common/common :: commonScript"></div>


	<!-- Imported scripts on this page -->
	<script th:src="@{/assets/js/xenon-widgets.js}"></script>
	<script th:src="@{/assets/js/devexpress-web-14.1/js/globalize.min.js}"></script>
	<script th:src="@{/assets/js/devexpress-web-14.1/js/dx.chartjs.js}"></script>
	<script th:src="@{/assets/js/toastr/toastr.min.js}"></script>

</body>
</html>